body{
  margin:0;
  font-family:Inter,sans-serif;
  background:#f4f7fc;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px 50px;

  background:#0f172a;
}

.navbar h2{
  color:white;
}

.nav-links{
  display:flex;
  gap:20px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:500;
}

.page-container{
  display:flex;
  justify-content:center;
  align-items:center;

  min-height:80vh;
}

.card{
  width:400px;

  background:white;

  padding:30px;

  border-radius:15px;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.1);

  display:flex;
  flex-direction:column;
  gap:15px;
}

.card input,
.card textarea{

  padding:12px;

  border:1px solid #ccc;

  border-radius:8px;
}

.card button{

  padding:12px;

  border:none;

  border-radius:8px;

  background:#2563eb;

  color:white;

  cursor:pointer;
}

.dashboard{
  text-align:center;
}